@import "./variables";
body {
    margin: 0;
}

h2 {
    font-family: "Poppins";
}

ul {
    @include reset-list;
}

a {
    @include reset-anchor;
}

button {
    @include style-button
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

@media(min-width: 1114px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}