.footer_moreInfo {
    display: flex;
    flex-direction: column;
    gap: 50px;
    .footer_moreInfo__textContainer {
        p {
            font-size: $normal-font-size;
            line-height: $normal-font-height;
            color: #fff;
            font-weight: 600px;
        }
    }
    .footer_moreInfo--addressContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        a {
            font-size: $normal-font-size;
            line-height: $normal-font-height;
            color: #fff;
            font-weight: 600px;
        }
    }
    .footer_moreInfo--iconsContainer {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}