.masthead_container {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    .masthead_title {
        font-size: 32px;
        line-height: 38px;
        font-weight: bold;
    }
    .masthead_article {
        font-size: $normal-font-size;
        line-height: $normal-font-height;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 50px;
    }
}

@media(min-width: 1114px) {
    .masthead_container {
        max-width: 1114px;
        margin: auto;
        .masthead_article {
            max-width: 459px;
            margin: auto;
        }
    }
}