@import './variables';
.section_images {
    .section_image__imageMockup--container {
        padding-bottom: 100px;
        .screen_mockup__image {
            width: 100%;
        }
    }
    .section_images__container {
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
    .values {
        font-size: 50px;
        line-height: 62px;
    }
    p {
        margin: 0;
    }
    .section_image__text--description {
        font-size: 20px;
        line-height: 24px;
        color: lightgray;
    }
}

@media(min-width: 1114px) {
    .section_images {
        max-width: 700px;
        margin: auto;
        .section_images__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
        }
    }
}