.section_building {
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: center;
    .section_building__title {
        font-size: 32px;
        line-height: 38px;
        font-weight: bold;
    }
}