@mixin reset-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin reset-anchor {
    text-decoration: none;
    display: inline-block;
}

@mixin style-button {
    outline: none;
    border: none;
    cursor: pointer;
}

$normal-font-size: 18px;
$normal-font-height: 22px;