@font-face {
  font-family: 'Poppins';
  font-weight: bold;
  font-style: normal;
  src: url(../fonts/poppins.woff2) format("woff2"), url(../fonts/poppins.woff) format("woff"); }

body {
  margin: 0; }

h2 {
  font-family: "Poppins"; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none;
  display: inline-block; }

button {
  outline: none;
  border: none;
  cursor: pointer; }

.container {
  padding-left: 20px;
  padding-right: 20px; }

@media (min-width: 1114px) {
  .container {
    padding-left: 0;
    padding-right: 0; } }

body header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px; }
  body header > div h1 {
    margin: 0; }

@media (min-width: 1114px) {
  body header > div {
    max-width: 1114px;
    margin: auto;
    padding-left: 0;
    padding-right: 0; } }

.masthead_container {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px; }
  .masthead_container .masthead_title {
    font-family: 'Poppins';
    font-size: 32px;
    line-height: 38px;
    font-weight: bold; }
  .masthead_container .masthead_article {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 50px; }

@media (min-width: 1114px) {
  .masthead_container {
    max-width: 700px;
    margin: auto;
    padding-left: 0;
    padding-right: 0; }
    .masthead_container .masthead_article {
      max-width: 459px;
      margin: auto; } }

.try-button {
  border: 1px solid #ff8fd8;
  border-radius: 67px;
  color: #ff8fd8;
  font-size: 18px;
  line-height: 22px;
  padding: 6px 20px; }

.button_getStarted {
  color: #fff;
  font-weight: bold;
  border-radius: 67px;
  padding: 15px 40px;
  background-color: #ff52bf; }

.button_getStarted:hover {
  background-color: #f782cc; }

.section_articles {
  display: flex;
  flex-direction: column;
  gap: 200px; }
  .section_articles .section_articles__article-item {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 100px; }
  .section_articles .section_artices__image {
    width: 100%; }
  .section_articles .section_articles__textContainer {
    text-align: center; }
  .section_articles .section_articles__title {
    font-size: 24px;
    line-height: 30px; }
  .section_articles .section_articles__texts {
    font-size: 18px;
    line-height: 22px; }
  .section_articles .grow_together {
    background-image: url(../images/bg-section-bottom-desktop-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .section_articles .flowing_conversation {
    background-image: url(../images/bg-section-top-mobile-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

@media (min-width: 1114px) {
  .section_articles {
    max-width: 1114px;
    margin: auto;
    padding-left: 0;
    padding-right: 0; }
    .section_articles .section_articles__article-item {
      display: flex;
      flex-direction: row-reverse;
      align-items: center; }
    .section_articles .flowing_conversation {
      flex-direction: row; }
    .section_articles .section_articles__textContainer {
      text-align: start; } }

.section_images .section_image__imageMockup--container {
  padding-bottom: 100px; }
  .section_images .section_image__imageMockup--container .screen_mockup__image {
    width: 100%; }

.section_images .section_images__container {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 100px; }

.section_images .values {
  font-size: 50px;
  line-height: 62px; }

.section_images p {
  margin: 0; }

.section_images .section_image__text--description {
  font-size: 20px;
  line-height: 24px;
  color: lightgray; }

@media (min-width: 1114px) {
  .section_images {
    max-width: 700px;
    margin: auto; }
    .section_images .section_images__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline; } }

.section_building {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }
  .section_building .section_building__title {
    font-size: 32px;
    line-height: 38px;
    font-weight: bold; }

footer {
  background-color: black; }
  footer .footer_container {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 100px; }

@media (min-width: 1114px) {
  footer .footer_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 100px;
    max-width: 1114px;
    margin: auto;
    padding-left: 0;
    padding-right: 0; } }

.footer_form__container .footer_form__heading {
  font-size: 28px;
  line-height: 34px;
  color: #fff;
  font-weight: 600px;
  margin: 0; }

.footer_form__container .footer_form__texts {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-weight: 600px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px; }

.footer_form__container .footer_form {
  display: flex;
  flex-direction: column;
  gap: 20px; }
  .footer_form__container .footer_form input {
    padding: 20px 30px;
    border-radius: 5px;
    outline: none;
    border: none; }
  .footer_form__container .footer_form button {
    padding: 20px 34px;
    align-self: flex-end;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    background-color: #ff52bf;
    border-radius: 5px; }

@media (min-width: 1114px) {
  .footer_form__container .footer_form {
    flex-direction: row;
    justify-content: space-between; }
    .footer_form__container .footer_form input {
      width: 100%; } }

.footer_moreInfo {
  display: flex;
  flex-direction: column;
  gap: 50px; }
  .footer_moreInfo .footer_moreInfo__textContainer p {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-weight: 600px; }
  .footer_moreInfo .footer_moreInfo--addressContainer {
    display: flex;
    flex-direction: column;
    gap: 20px; }
    .footer_moreInfo .footer_moreInfo--addressContainer a {
      font-size: 18px;
      line-height: 22px;
      color: #fff;
      font-weight: 600px; }
  .footer_moreInfo .footer_moreInfo--iconsContainer {
    display: flex;
    flex-direction: row;
    gap: 20px; }

@media (min-width: 1114px) {
  .footer_moreInfo {
    width: 60%; } }
