@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins.woff2") format("woff2"), url("../fonts//poppins.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

body {
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none;
  display: inline-block; }

button {
  outline: none;
  border: none;
  cursor: pointer; }

.container {
  padding-left: 20px;
  padding-right: 20px; }

header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px; }
  header > div h1 {
    margin: 0; }

.masthead_container {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px; }
  .masthead_container .masthead_title {
    font-size: 32px;
    line-height: 38px;
    font-weight: bold; }
  .masthead_container .masthead_article {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 50px; }

@media (min-width: 1114px) {
  .masthead_container {
    max-width: 1114px;
    margin: auto; }
    .masthead_container .masthead_article {
      max-width: 459px;
      margin: auto; } }

.try-button {
  border: 1px solid #ff8fd8;
  border-radius: 67px;
  color: #ff8fd8;
  font-size: 18px;
  line-height: 22px;
  padding: 6px 20px; }

.button_getStarted {
  color: #fff;
  font-weight: bold;
  border-radius: 67px;
  padding: 15px 40px;
  background-color: #ff52bf; }

.section_articles .section_articles__article-item {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 100px; }

.section_articles .section_artices__image {
  width: 100%; }

.section_articles .section_articles__textContainer {
  text-align: center; }

.section_articles .section_articles__title {
  font-size: 24px;
  line-height: 30px; }

.section_articles .section_articles__texts {
  font-size: 18px;
  line-height: 22px; }

@media (min-width: 1114px) {
  .section_articles .section_articles__article-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center; }
  .section_articles .flowing_conversation {
    flex-direction: row; }
  .section_articles .section_articles__textContainer {
    text-align: start; } }

.section_images .section_image__imageMockup--container {
  padding-bottom: 100px; }
  .section_images .section_image__imageMockup--container .screen_mockup__image {
    width: 100%; }

.section_images .section_images__container {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 100px; }

.section_images .values {
  font-size: 50px;
  line-height: 62px; }

.section_images p {
  margin: 0; }

.section_images .section_image__text--description {
  font-size: 20px;
  line-height: 24px;
  color: lightgray; }

@media (min-width: 1114px) {
  .section_images {
    max-width: 1114px;
    margin: auto; }
    .section_images .section_images__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline; } }

.section_building {
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center; }
  .section_building .section_building__title {
    font-size: 32px;
    line-height: 38px;
    font-weight: bold; }
